<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>File Explorer</title>
  </head>
  <body>
        <% for (const file of files) { %>
                <div>
                              <a href="<%= file.isDirectory ? `/${currentPath}/${file.name}` : `/${currentPath}/${file.name}` %>">
                                                <%= file.name %>
                                                            </a>
                                                                    </div>
                                                                        <% } %>
  </body>
</html>


